force-app/main/default/flows/Book_Itinerary_and_related_Activities.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Output_Text</name>
        <label>Assign Output Text</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>txtOutVar</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>We have booked the Itinerary &quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtOutVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Itinerary_Information_search_on_Name.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtOutVar</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot; with the BookingNumber &quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtOutVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>bookingReferenceVar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtOutVar</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_output_text_Itinerary_null</name>
        <label>Assign output text Itinerary null</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>txtOutVar</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Sorry, we did not find the Itinerary &quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtOutVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>txtItineraryName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtOutVar</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;. Please try again with a different Itinerary Name or Itinerary Record ID.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Output_Text</name>
        <label>Copy 1 of Assign Output Text</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>txtOutVar</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>We have booked the Itinerary &quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtOutVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Itinerary_Information_search_on_ID.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtOutVar</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot; with the BookingNumber &quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtOutVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>bookingReferenceVar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtOutVar</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_output_text_Itinerary_null</name>
        <label>Copy 1 of Assign output text Itinerary null</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>txtOutVar</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Sorry, we did not find the Itinerary &quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtOutVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>txtItineraryName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtOutVar</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;. Please try again with a different Itinerary Name or Itinerary Record ID.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_output_text_Itinerary_null</name>
        <label>Copy 2 of Assign output text Itinerary null</label>
        <locationX>1106</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>txtOutVar</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Sorry, we did not find the Itinerary &quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtOutVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>txtItineraryName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtOutVar</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;. Please try again with a different Itinerary Name or Itinerary Record ID.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_of_Populated_BookingNumber</name>
        <label>Copy of Populated BookingNumber</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>bookingReferenceVar</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>BOOKING-</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bookingReferenceVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Itinerary_Information_search_on_ID.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_of_Add_BookingID_on_Itinerary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populated_BookingNumber</name>
        <label>Populated BookingNumber</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>bookingReferenceVar</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>BOOKING-</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bookingReferenceVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Itinerary_Information_search_on_Name.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_BookingID_on_Itinerary</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Itinerary_found_on_ID_or_not</name>
        <label>Itinerary found on ID or not</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Assign_output_text_Itinerary_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_found_the_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Itinerary_Information_search_on_ID.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_of_Book_recommended_Activity</targetReference>
            </connector>
            <label>Yes found the ID</label>
        </rules>
    </decisions>
    <decisions>
        <name>Itinerary_found_on_Name_or_not</name>
        <label>Itinerary found on Name or not</label>
        <locationX>248</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_Itinerary_Information_search_on_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Itinerary_Information_search_on_Name.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Book_recommended_Activity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Book Itinerary and related Activities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Book Itinerary and related Activities</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Itinerary_Information_search_on_ID</name>
        <label>Get Itinerary Information search on ID</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Itinerary_found_on_ID_or_not</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_Assign_output_text_Itinerary_null</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>txtItineraryName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Itinerary__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Itinerary_Information_search_on_Name</name>
        <label>Get Itinerary Information search on Name</label>
        <locationX>248</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Itinerary_found_on_Name_or_not</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_2_of_Assign_output_text_Itinerary_null</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>txtItineraryName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Itinerary__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Add_BookingID_on_Itinerary</name>
        <label>Add BookingID on Itinerary</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Assign_Output_Text</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Itinerary_Information_search_on_Name.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BookingNumber__c</field>
            <value>
                <elementReference>bookingReferenceVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Booked</stringValue>
            </value>
        </inputAssignments>
        <object>Itinerary__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Book_recommended_Activity</name>
        <label>Book recommended Activity</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Populated_BookingNumber</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Itinerary__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Itinerary_Information_search_on_Name.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Booked</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Booked</stringValue>
            </value>
        </inputAssignments>
        <object>TravelActivity__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_of_Add_BookingID_on_Itinerary</name>
        <label>Copy of Add BookingID on Itinerary</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Copy_1_of_Assign_Output_Text</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Itinerary_Information_search_on_ID.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BookingNumber__c</field>
            <value>
                <elementReference>bookingReferenceVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Booked</stringValue>
            </value>
        </inputAssignments>
        <object>Itinerary__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_of_Book_recommended_Activity</name>
        <label>Copy of Book recommended Activity</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Copy_of_Populated_BookingNumber</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Itinerary__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Itinerary_Information_search_on_ID.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Booked</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Booked</stringValue>
            </value>
        </inputAssignments>
        <object>TravelActivity__c</object>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Itinerary_Information_search_on_Name</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>bookingReferenceVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>txtItineraryName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtOutVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
